* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  width: 600px;
  grid-template-areas:
    'timer timer timer'
    'break btns session';
  margin: 10rem auto;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: timer;
  height: 350px;
  width: 350px;
  padding: 6rem;

  border: 3px solid black;
  border-radius: 50%;
}

.break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: break;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-area: btns;
}

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: session;
}

.timer-container input {
  width: 180px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background: none;
  border: none;
}

.timer-container label {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
