* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  width: 600px;
  grid-template-areas:
    'timer timer timer'
    'break btns session';
  margin: 10rem auto;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: timer;
}

.break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: break;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-area: btns;
}

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: session;
}
